.main-navigation {
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: rgb(155, 209, 223);
  position: sticky;
  top: 0;
  .header-logo {
    width: 60px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 60px 120px;
    list-style-type: none;
    padding: 0;
  }
  .nav-item {
    a {
      padding: 20px;
      text-decoration: none;
      color: black;
      font-size: 18px;
      font-weight: bold;
    }
    a:hover {
      color: white;
    }
    a.active {
      // background-color: rgb(110, 160, 194);
      color: white;
    }
  }
}
