.main-navigation {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  align-items: center;
  background-color: rgb(60, 139, 192);
  .header-logo {
    width: 60px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 60px 120px;
    list-style-type: none;
    padding: 0;
  }
  .nav-item {
    a {
      padding: 20px;

      text-decoration: none;
      color: black;
    }
  }
}
